.jumbo-dashboard{
	background-size: cover;
	height: 730px;
	width: 2186px;
}
.text-highlight{
	border-radius: 100px;
	background-color: yellow;
	width: 1000px;
}
.jumbotron .display-4{
	text-align: center;
	color:black;
}
.text-jumbotron{
	font-size: 20px;
	margin-top: 400px;
	color: white;
}
.btn-dashboard{
	border-radius: 100px;
}
img.center{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 75%;
	display: block;
	overflow: auto;
}
img.center-responsive{
	max-width: 100%;
	max-height: 100%;
	display: block;
}

div.container-img{
	position: absolute;
	max-height: 100%;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
}
.container-img:hover .overlay {
	opacity: 1;
}

img.profile{
	display: block;
	justify-content: center;
	margin: auto;
	width: 75px;
	height: 75px;
	overflow: auto;
}



